{% extends 'base.html.twig' %}

{% block content %}
    <h2>Documentation</h2>

    {% set node = 'HivePress' %}

    {{
    include(
        'components/table-of-contents.html.twig',
        {
            'node': 'HivePress',
            'namespaces': usesNamespaces or not usesPackages ? node.children : [],
            'packages': usesPackages ? project.package.children : []
        }
    )
    }}
    {{ include('components/constants.html.twig', {'node': 'HivePress'}) }}
    {{ include('components/functions.html.twig', {'node': 'HivePress'}) }}
{% endblock %}
