{% extends 'base.html.twig' %}

{% block content %}
<article class="phpdocumentor-element">
    <h2 class="phpdocumentor-content__title">Hooks</h2>
    <p>This is a full list of HivePress action and filter hooks.</p>
    <!-- hooks -->
</article>
{% endblock %}
