<header class="phpdocumentor-top-header">
    <section class="phpdocumentor-section">
        <div class="site-branding">
            <a class="site-logo" href="https://hivepress.io/"><img width="186" src="{{ path('images/logo.svg') }}" alt="HivePress" /></a>
        </div>
        <nav class="main-navigation">
            <ul>
                <li><a href="{{ path("/index.html") }}">Home</a></li>
                <li><a href="{{ path("hooks/hooks.html") }}">Hooks</a></li>
                <li><a href="{{ path("indices/files.html") }}">Files</a></li>
            </ul>
        </nav>
    </section>
</header>
