<header class="phpdocumentor-top-header">
    <section class="phpdocumentor-section">
        <div class="site-branding">
            <a class="site-logo" href="https://hivepress.io/"><img width="186" src="{{ path('images/logo.svg') }}" alt="HivePress" /></a>
        </div>
        <nav class="main-navigation">
            <ul>
                <li><a href="{{ path("/index.html") }}">Home</a></li>
                <li><a href="https://hivepress.github.io/hook-reference/">Hook Reference</a></li>
                <li><a href="https://help.hivepress.io/">Knowledge Base</a></li>
            </ul>
        </nav>
    </section>
</header>
